.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: absolute;
    /*  width: 100%; */
    position: fixed;
    top: 10;
}

.navbarli {
    float: left;
}

.navbarli a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbarli a:hover {
    background-color: #111;
}

.translogo {
    position: fixed;
    top: 30%;
    left: 30%;
    margin-top: -50px;
    margin-left: -100px;
}

.speakersdiv {
    height: 600;
    width: 100%;
    position: absolute;
}

.speakersheading {
    position: relative;
    top: 20;
    left: 50%;
    right: 50%
}

.speakerimg {
    border-radius: 50%;
}